.partners-container {
	overflow: hidden;
}

.partner-logos {
	display: flex;
	width: calc(150%);
	animation: slide 15s linear infinite;
}

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.slide {
	flex: 0 0 20%;
}

.slide img {
	width: 200px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	height: 200px;
	object-fit: contain;
	padding: 20px;
}
/*mmedia query*/
/* Styles for Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.slide img {
		margin: 20px;
	}
}
/* Styles for larger mobile devices*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.slide img {
		margin: 20px;
		width: 180px;
		height: 180px;
	}
}
/* Styles for mobile phones in portrait orientation */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.slide img {
		margin: 20px;
		width: 150px;
		height: 150px;
	}
}
