.ft {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	color: #ffff;
	width: 100%;
	margin-top: 5%;
}

.footer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	z-index: 999;
}
.footer h4 {
	color: var(--blue);
	font-weight: 900;
}

.link {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}
.link:hover {
	transform: scale(1.05);
	color: var(--blue);
}
.copyright {
	text-align: center;
	border-top: 1px solid#fff;
	margin-top: 20px;
	padding: 10px;
	color: #ffff;
}

.lg {
	display: flex;
	align-items: start;
}
.lg h5 {
	display: flex;
	align-items: center;
	padding: 10px;
}
.lg img {
	width: 50px;
}
.location p {
	margin-top: 10px;
}

/*----media query---*/
/* Styles for Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.lg h5 {
		display: none;
	}
	.location {
		margin-right: -7%;
	}
}
/* Styles for larger mobile devices*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.footer {
		flex-direction: column;
		justify-content: center;
	}
	.link-list,
	.location {
		padding-left: 40%;
	}
	.footer div {
		padding-top: 20px;
	}
	.lg img {
		max-width: 50px;
	}
	.copyright {
		font-size: 14px;
	}
}
/* Styles for mobile phones in portrait orientation */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.footer {
		flex-direction: column;
		justify-content: center;
	}
	.link-list,
	.location {
		padding-left: 20%;
	}
	.footer div {
		padding-top: 10px;
	}
	.lg img {
		max-width: 50px;
	}
	.copyright {
		font-size: 10px;
		padding: 10px 0;
	}
}
