.slider {
	max-width: 800px;
	margin: 0 auto;
}

.slick-slide {
	padding: 20px;
}

.slick-slide h3 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: 600;
	color: var(--blue);
}

.slick-slide p {
	text-align: start;
	font-size: 16px;
	line-height: 1.5;
}

.slick-dots {
	display: flex;
	justify-content: center;
	bottom: 10px;
}

.slick-dots li button:before {
	font-size: 12px;
	color: var(--blue);
}

.slick-dots li.slick-active button:before {
	color: #000;
}
/*mmedia query*/
/* Styles for Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.slider {
		margin: 0 20px;
	}
}
/* Styles for larger mobile devices*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.slider {
		margin: 0 40px;
	}

	.slick-slide p {
		text-align: start;
		font-size: 14px;
		line-height: 1.5;
	}
}
/* Styles for mobile phones in portrait orientation */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.slider {
		margin: 0;
	}
}
